/* additional css rules for medsquare app main page*/

.hide {
	display:none;
}

.medsquare_route {
	margin: 0px 0px 2px;
}
#googleroutemap .x-dock.x-sized > .x-dock-body {
	background:#fff !important;
}

.route_top_panel {
	background:#fff;
	margin: 0px;
	padding-bottom:2px;
}
.route_top_panel_inner {
    left: 50%;
    margin-left: -78px;
}
.route_button,.car_button,.bus_button,.walk_button,.cycle_button,.plane_button {
	background: transparent url(../images/route_buttons.png) no-repeat center center;
	background-size: 215px;
	border:0;
	border-radius:0;
	width: 35px;
	float: left;
	min-height: 35px;
	padding: 0;
}
.route_button {
    float: left;
    background-position: 5px 4px;
}
.car_button {
    background-position: -40px 5px;
}
.bus_button {
    background-position: -86px 4px;
}
.walk_button {
    background-position: -135px 4px;
}
.cycle_button {
    background-position: -183px 4px;
}
.plane_button {
    background-position: -280px 4px;
}
.route_button.activebutton {
    background-position: 5px -28px;
}
.car_button.activebutton {
    background-position: -40px -28px;
}
.bus_button.activebutton {
    background-position: -86px -28px;
}
.walk_button.activebutton {
    background-position: -135px -30px;
}
.cycle_button.activebutton {
    background-position: -183px -29px;
}
.plane_button.activebutton {
    background-position: -280px -28px;
}

.logo_panel {
    background: #2c3e50;
    margin: 0;
    padding: 2px;
}
.logo_top {
    width: 48px;
    left: 50%;
    margin-left: -24px;
    margin-top: -33px;
}

.back_button {
    border: 0;
    border-radius: 0;
    width: 75px;
    font-size: 13px;
    background: url(../images/backbutton.png) no-repeat center;
    margin-left: 12px;
    color: #fff;
    padding:8px 10px;
    margin-top: 5px;
    min-height: 10px;
    background-size: 77px 28px;
}
.back_button:hover {
    background: url(../images/backbutton_active.png) no-repeat center;
    background-size: 77px 28px;
}
.back_button.x-button-pressing {
    background: url(../images/backbutton_active.png) no-repeat center !important;
    background-size: 77px 28px !important;
}
.back_button .x-button-label {
	margin-left: 10px;
}

.he_details_main .result {
	background:#fff;
	margin: 0px 7px;
}
.close_route {
	color:#fff;
	background:#455565;
	border: 0;
	border-radius: 0;
	right: 4px;
	padding: 0px 10px;
	position: absolute;
}

.route_right_panel {
    position: absolute;
    right: 0;
    width: 35px;
    background: rgba(255, 255, 255, 0.76);
}
.fullscreen_button {
	float: left;
	background: url(../images/fullscreen.png) no-repeat center !important;
	background-size: 70% !important;
	padding: 0;
	width: 35px;
	height: 35px;
	border: 0;
}
.fullscreen_button_close {
	float: left;
	background: url(../images/fullscreen_close2.png) no-repeat center !important;
	background-size: 70% !important;
	padding: 0;
	width: 35px;
	height: 35px;
	border: 0;
}


@media all and (max-width: 315px) {
	.logo_top {
		margin-left: 0px;
	}
}

@media all and (min-width: 315px) and (max-width: 355px) {
	
}

@media all and (min-width: 355px) and (max-width: 395px) {
	
}

@media all and (min-width: 395px) and (max-width: 475px) {

}

@media all and (min-width: 475px) and (max-width: 635px) {
	
	
}

@media all and (min-width: 635px) and (max-width: 715px) {
	
}

@media all and (min-width: 715px) and (max-width: 767px) {
	
}

@media all and (min-width: 768px) {
	.he_details_main .result {
    	left: 0;
	}
}
