/* additional css rules for medsquare app main page*/

.x-list-normal .x-list-header{background-color: #B3AFAF;background-image:none !important;color: #FFF;border:none;float: left;}
.contact{width: 60%;float: left;margin-left: 10px;font-size: 14px;color: #000;}

.friendsList .x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 0;
}

.friendslistItem {
	float: left;
	width: 100%;
	padding: 5px;
}
#friends .friendslistItem {
	float: left;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #DBD6D6;
}
.listeven {
	background: #f2f2f2 !important;
}

.chatItem {
    margin: 0px 10px;
}

.gotoInvite {
	background: url(../images/adduser.png) no-repeat center !important;
	float: right;
	border: 0;
	background-size: 70% !important;
	margin-right: 5px;
	margin-top: -38px;
	width: 35px;
	height: 35px;
}


.friendsList .x-scroll-bar.active.x-scroll-bar-y {
	background:#1ABC9C !important;
}
.friendsList .x-scroll-bar.x-scroll-bar-y {
	background:#1ABC9C !important;
}


.messagetoallcontainer{
    width: 360px;
    left: 50%;
    margin-left: -180px;
}
.messagetoallhead{
    text-align: center;
    margin-top: 5px;
    color: #00abe7;
    font-size: 16px;
}
.messagetoallinfo{
    font-size: 13px;
    margin-bottom: 5px;
}
#sendbutton_messagetoall {
	margin-top: 55px;
}
.messagetoallbox .x-field-input .x-clear-icon {
	background-color: #ecf0f1;
	height: 90px;
	margin-top: -45px;
}

.friendname {
	width: 100%;
	padding: 5px 10px 0px;
}