/* additional css rules for medsquare app main page*/

.hide {
	display:none;
}

.search_top_panel_map {
	margin: 0px 0px 0px 0px;
	background: #2c3e50;
	padding: 4px 5px 4px;
	padding-bottom: 1px;
}
.search_map {
    max-width: 320px;
    min-height: 33px;
}
.searchoptions_map {
    margin-top: -33px;
    margin-left: 320px;
    width: 35px;
    background: #ecf0f1;
    border: 0;
    border-radius: 0;
    padding: 2px 0 0px;
    min-height: 31px;
}
.insurance_only_checkbox_map {
    max-width: 14px;
    min-height: 14px;
    margin-top: 15px;
    margin-left: 7px;
}
.insurance_only_check_map {
    color: #fff;
    font-size: 12px;
    margin-top: -23px;
    margin-bottom: 8px;
    margin-left: 37px;
}
.closetome_map {
    margin-top: -37px;
    margin-right: 44px;
    border: 0;
    background: transparent url(../images/heart.png) no-repeat center;
    background-position: center 2px;
    font-size: 11px;
    color: #fff;
    width: 70px;
    padding: 22px 0px 0px;
    float: right;
}
.closesearch_map {
    border: 0;
    border-radius: 0;
    width: 17px;
    float: right;
    margin-top: -38px;
    font-size: 21px;
    min-height: 30px;
    width: 35px;
    padding: 2px 0px 1px;
}

.medsquare_map {
    margin-left: 15px;
    max-width: 365px;
}

/*bottom hospital info panel */

.result_map {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.result_map .he_details {
	
}

.he_info_map_bottom {
	color: #2c3e50;
	padding: 10px 5px 2px;
	background: #fff;
	width: 390px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #2c3e50;
	max-height: 165px;
}
.he_info_details {

}
.he_dist_time {
    float: right;
    width: 85px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.he_queue {
    float: right;
    margin-top: 2px;
    width: 90px;
}
#he_location {
	width: 18px;
	height: 28px;
	float: left;
	margin: -6px 8px 5px 0px;
}
.he_dist_time_values {
    font-size: 14px;
	
}
.he_dist_time_info {
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: both;
}
#he_clock{
	width: 20px;
	height: 22px;
	float: left;
	margin: -6px 8px 9px 0px;
}
.he_queue_values {
    font-size: 14px;
	
}
.he_queue_info {
    font-size: 12px;  font-weight: bold;  float: left;
    clear: both;
}

.feedback {
    border: 0;
    background: transparent url(../images/feedback.png) no-repeat center !important;
    background-position: center 2px !important;
    background-size: 44px !important;
    font-size: 11px;
    width: 70px;
    padding: 38px 0px 0px;
    float: right;
    margin-top: -12px;
    color: #2c3e50;
}


.search_filter_map {
    float: right;
    background: #cad0d1 url(../images/show_filter.png) no-repeat center;
    background-size: 21px;
    border-radius: 0;
    border: 0;
    width: 33px;
    padding: 0;
    height: 33px;
}
.filter_holder_map {
    background: #2c3e50;
    padding: 4px;
    width: 33px;
    position: absolute;
    right: 1px;
    z-index: 1;
    top: 0;
}

.filter_menu_map{
    width: 232px;
    position: absolute;
    right: -232px;
    top: 68px;
    z-index: 1;
}
.filter_manu_button_map{
    float: left;
    width: 100%;
    border-radius: 0;
    font-size: 14px;
    padding: 0;
}

.he_online_count {

}
#he_online {
    width: 18px;
}
#he_logo_map {
	float: left;
	width: 65px;
	height: 42px;
}


.he_details_map {
    float:left;
    margin-left:10px;
    width: 314px;
}
.he_head_map {
    float:left;
    text-decoration: underline;
    font-size: 14px;
    color: #2c3e50;
    font-weight: bold;
}
.he_head_map:hover {
    background:#1ABC9C;
}
.he_info_map{
    float:left;
    color: #2c3e50;
    font-size: 12px;
    clear: both;
}
.he_stars_map {
    float: left;

    margin-left: 0px;
    margin-top: 3px;
    clear: both;
}
.he_evals_map {
    float: left;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 2px;
}
.he_distTime_map {
	float: left;
	background: url(../images/loc_small2.png) no-repeat left;
	background-size: 10px;
	padding-left: 14px;
	margin-left: 10px;
	white-space: nowrap;
	font-size: 12px;
	margin-top: 2px;
}

#suggestpop_map {
    width: 335px;
}
.map_sugg {
	width: 275px;
}

.checkoutTop_map {
	float: right;
	margin: -32px 0px 0px 0px;
	background: #192633 url(../images/checkout_green.png) no-repeat center;
	background-size: 22px;
	min-height: 22px;
	width: 12px;
	border: 0;
	border-radius: 0;
}


@media all and (max-width: 315px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 150px;
	}
	.searchoptions_map {
		margin-left: 160px;
	}
	.insurance_only_checkbox_map {
		margin-left: 0px;
	}
	.insurance_only_check_map {
		margin-left: 18px;
		margin-bottom: 5px;
		margin-top: -20px;
		width: 90px;
	}
	.closetome_map {
		margin-top: -40px;
	}
	.closesearch_map {
		margin-top: -37px;
		font-size: 21px;
		margin-bottom: 2px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 240px;
	}
	.result_map {
		width: 100%;
	}
	.he_info_map_bottom {
		width: 230px;
	}
	.he_queue {
		float: left;
		margin-left: 5px;
		margin-top: -32px;
	}
	.feedback {
		margin-top: -10px;
		background-size: 30px;
		padding: 25px 0px 0px;
	}
	.filter_holder_map {
	}
	#he_logo_map {
		width: 55px;
		height: 38px;
	}
	
	.he_details_map {
		width: 162px;
	}
	.he_head_map {
		font-size: 12px;
	}
	.he_info_map{
		font-size: 10px;
		height: 29px;
	}
	.he_distTime_map {
		float: left;
		font-size: 10px;
	
		margin-top: 5px;
		margin-left: -60px;
		clear: both;
}
	.he_stars_map {
		margin-left: -60px;
	
		margin-top: 8px;
	}
	.he_evals_map {
		font-size: 10px;
	
		margin-top: 8px;
		margin-left: 15px;
	}
	#suggestpop_map {
		width: 183px;
	}
	.map_sugg {
		width: 138px;
	}
	.he_queue_values {
		font-size: 11px;
	}
	.he_queue_info {
		font-size: 10px;
		line-height: 6px;
	}
	#he_online {
		width: 15px;
	
		margin-top: -5px;
}
	.he_online_count {
	
	}
	#he_clock {
		width: 16px;
		height: 17px;
	}
	
	.checkoutTop_map{
		margin: -29px 0px 0px 0px;
	}
}

@media all and (min-width: 315px) and (max-width: 355px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 233px;
	}
	.searchoptions_map {
		margin-left: 238px;
	}
	.insurance_only_checkbox_map {
		margin-left: 2px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 0px;
		margin-left: 21px;
		width: 155px;
	}
	.closetome_map {
	}
	.closesearch_map {
		float: right;
		margin-top: -26px;
		margin-bottom: 4px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 320px;
	}
	
	.result_map {
		width: 100%;
	}
	.he_info_map_bottom {
		width: 310px;
	}
	
	#he_logo_map {
		width: 65px;
		height: 42px;
	}
		
	#suggestpop_map {
		width: 263px;
	}
	.map_sugg {
		width: 203px;
	}
	.he_queue {
		float: right;
		margin-top: 2px;
		width: 90px;
		margin-right:-10px
	}
	
	.he_details_map {
		width: 235px;
	}
	.he_head_map {
		font-size: 12px;
	}
	.he_info_map{
		font-size: 10px;
	
		height: 28px;
}
	.he_distTime_map {
    font-size: 10px;
	
    margin-left: 15px;
}
	.he_stars_map {
    margin-top: 2px;
	
    margin-left: -70px;
    clear: both;
}
	.he_evals_map {
		font-size: 10px;
		margin-left: 15px;
		margin-top: 1px;
	}
	.he_queue_values {
		font-size: 11px;
	}
	.he_queue_info {
		font-size: 10px;
		line-height: 6px;
	}
	#he_online {
		width: 15px;
	
		margin-top: -5px;
}
	.he_online_count {
	
	}
	#he_clock {
		width: 16px;
		height: 17px;
	}
	.feedback {
		margin-top: -10px;
		background-size: 30px !important;
		padding: 25px 0px 0px;
	}
	.checkoutTop_map{
		margin: -24px 0px 0px 0px;
	}
}

@media all and (min-width: 355px) and (max-width: 395px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 272px;
	}
	.searchoptions_map {
		margin-left: 276px;
	}
	.insurance_only_checkbox_map {
		margin-left: 7px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 7px;
		margin-left: 27px;
	}
	.closetome_map {
		margin-top: -30px;
		margin-right: 2px;
	}
	.closesearch_map {
		float: right;
		margin-top: -33px;
		margin-bottom: 4px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 360px;
	}
	
	.result_map {
		width: 100%;
	}
	.he_info_map_bottom {
		width: 350px;
	}
	.result_map {
    width: 100%;
    }
		
	#suggestpop_map {
		width: 302px;
	}
	.map_sugg {
		width: 242px;
	}
	
	.he_details_map {
		width: 275px;
	}
	.he_head_map {
		font-size: 13px;
	}
	.he_info_map{
		font-size: 11px;
	}
	.he_distTime_map {
	
    margin-left: 10px;
    font-size: 11px;
}
	.he_stars_map {
		margin-left: 0px;
	
		margin-top: 1px;
}
	.he_evals_map {
		font-size: 10px;
		margin-left: 5px;
	
		margin-top: 1px;
}
	.he_queue_values {
		font-size: 11px;
	}
	.he_queue_info {
		font-size: 10px;
		line-height: 6px;
	}
	#he_online {
    width: 15px;  margin-top: -5px;
	}
	.he_online_count {
	
	}
	#he_clock {
		width: 16px;
		height: 17px;
	}
	.feedback {
		margin-top: -10px;
		background-size: 30px;
		padding: 25px 0px 0px;
	}
	.checkoutTop_map{
		margin: -31px 0px 0px 0px;
	}
}

@media all and (min-width: 395px) and (max-width: 475px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 313px;
	}
	.searchoptions_map {
		margin-left: 318px;
	}
	.insurance_only_checkbox_map {
		margin-left: 7px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 8px;
		margin-left: 26px;
	}
	.closesearch_map {
		float: right;
		margin-top: -34px;
		margin-bottom: 4px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 400px;
	}
	#he_logo_map {
		width: 65px;
		height: 42px;
	}
		
	#suggestpop_map {
		width: 335px;
	}
	.map_sugg {
		width: 275px;
	}
	
	.result_map {
		width: 100%;
	}
	.he_info_map_bottom {
		width: 390px;
	}
	.result_map {
		width: 100%;
    }
		
	#suggestpop_map {
		width: 343px;
	}
	.map_sugg {
		width: 283px;
	}
	
	
	.he_details_map {
		width: 315px;
	}
	.he_head_map {
	}
	.he_info_map{
    font-size: 11px;
	}
	.he_distTime_map {
	
    font-size: 11px;
    
    margin-left: 10px;
}
	.he_stars_map {
		margin-left: 0px;
	
		margin-top: 0px;
}
	.he_evals_map {
		font-size: 10px;
		margin-left: 10px;
	
		margin-top: 0px;
}
	.he_queue_values {
		font-size: 11px;
	}
	.he_queue_info {
		font-size: 10px;
		line-height: 6px;
	}
	#he_online {
    width: 15px;  margin-top: -5px;
	}
	.he_online_count {
	
	}
	#he_clock {
		width: 16px;
		height: 17px;
	}
	.feedback {
		margin-top: -10px;
		background-size: 30px;
		padding: 25px 0px 0px;
	}
	
	#he_logo_map {
		width: 65px;
		height: 42px;
	}
	.checkoutTop_map{
	}
}

@media all and (min-width: 475px) and (max-width: 635px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 393px;
	}
	.searchoptions_map {
		margin-left: 398px;
	}
	.insurance_only_checkbox_map {
		margin-left: 7px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 8px;
		margin-left: 26px;
	}
	.closetome_map {
	}
	.closesearch_map {
		float: right;
		margin-top: -34px;
		margin-bottom: 5px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 480px;
	}
	
	.he_info_map_bottom {
		width: 470px;
	}
	#he_logo_map {
		width: 76px;
		height: 50px;
	}
		
	#suggestpop_map {
		width: 423px;
	}
	.map_sugg {
		width: 363px;
	}
	
	.he_details_map {
		width: 315px;
	}
	.he_head_map {
	}
	.he_info_map{
	}
	.he_distTime_map {
    font-size: 12px;
	
    margin-left: 10px;
}
	.he_stars_map {
		margin-left: 0px;
	
		margin-top: 1px;
}
	.he_evals_map {
		margin-left: 15px;
	
		margin-top: 0px;
}
	.he_queue_values {
		font-size: 11px;
	}
	.he_queue_info {
		font-size: 10px;
		line-height: 6px;
	}
	#he_online {
    width: 15px;  margin-top: -5px;
	}
	.he_online_count {
	
	}
	#he_clock {
		width: 16px;
		height: 17px;
	}
	
	.feedback {
		margin-top: -10px;
		background-size: 30px;
		padding: 25px 0px 0px;
	}
	.checkoutTop_map{
		margin: -32px 0px 0px 0px;
	}
}

@media all and (min-width: 635px) and (max-width: 715px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 553px;
	}
	.searchoptions_map {
		margin-left: 558px;
	}
	.insurance_only_checkbox_map {
		margin-left: 7px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 8px;
		margin-left: 26px;
	}
	.closetome_map {
	}
	.closesearch_map {
		float: right;
		margin-top: -34px;
		margin-bottom: 5px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 640px;
	}
	
	.result_map {
		width: 370px;
		margin-bottom: 0px;
	}
	.he_info_map_bottom {
		width: 630px;
	}
	.he_details_map {
		width: 280px;
	}
	.he_dist_time {
        margin-top: 11px;
	}
	.he_queue {
		margin-left: 15px;
		margin-top: 13px;
	}
	.feedback {
		margin-top: -2px;
	}
	.result_map .he_details {
		width: 228px;
	}
	#he_logo_map {
		width: 80px;
		height: 50px;
	}
		
	#suggestpop_map {
		width: 583px;
	}
	.map_sugg {
		width: 523px;
	}
	.he_distTime_map {
    font-size: 11px;
	}
	.he_stars_map {
    margin-left: 0px;
	
}
	.he_evals_map {
		font-size: 11px;
	
		margin-left: 10px;
}
	.checkoutTop_map{
		margin: -32px 0px 0px 0px;
	}
}

@media all and (min-width: 715px) and (max-width: 767px) {
	.search_top_panel_map {
	}
	.search_map {
		max-width: 633px;
	}
	.searchoptions_map {
		margin-left: 638px;
	}
	.insurance_only_checkbox_map {
		margin-left: 7px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 8px;
		margin-left: 26px;
	}
	.closetome_map {
	}
	.closesearch_map {
		float: right;
		margin-top: -33px;
		margin-bottom: 5px;
	}
	.medsquare_map {
		margin-left: 0px;
		max-width: 720px;
	}
	
	.result_map {
		width: 420px;
		margin-bottom: 0px;
	}
	.he_info_map_bottom {
		width: 710px;
		padding: 10px 5px 4px;
	}
	.he_details_map {
		width: 325px;
	}
	.he_dist_time {
        margin-top: 11px;
	}
	.he_queue {
		margin-left: 45px;
		margin-top: 13px;
	}
	.feedback {
		margin-top: -2px;
	}
	.result_map .he_details {
		width: 252px;
	}
	#he_logo_map {
		width: 85px;
		height: 55px;
	}
	
	#suggestpop_map {
		width: 663px;
	}
	.map_sugg {
		width: 603px;
	}
	.he_distTime_map {
    font-size: 12px;
	
    margin-left: 10px;
}
	.he_stars_map {
		margin-left: 0px;
	
		margin-top: 3px;
}
	.he_evals_map {
		font-size: 12px;
		margin-left: 10px;
	
		margin-top: 1px;
}
	.checkoutTop_map{
		margin: -32px 0px 0px 0px;
	}
}

@media all and (min-width: 768px) {
	.search_top_panel_map {
		width: 690px;
		left: 50%;
		margin-left: -374px;
		margin-top: 10px;
	
		height: 37px;
	}
	.search_map {
		max-width: 310px;
	}
	.searchoptions_map {
		margin-left: 325px;
	}
	.insurance_only_checkbox_map {
		margin-left: 370px;
		margin-top: -23px;
	}
	.insurance_only_check_map {
		margin-top: -14px;
		margin-bottom: 10px;
		margin-left: 390px;
	}
	.closetome_map {
	}
	.closesearch_map {
		float: right;
		margin-top: -38px;
	}
	.medsquare_map {
        max-width: 748px;
        left: 50% !important;
        margin-left: -374px;
    }
	
	.result_map {
		width: 490px;
		margin-bottom: 0px;
	}
	.he_info_map_bottom {
		width: 738px;
	}
	.he_details_map {
		width: 388px;
	}
	.he_dist_time {
        margin-top: 11px;
	}
	.he_queue {
		margin-left: 0px;
		margin-top: 13px;
	}
	.feedback {
		margin-top: -2px;
	}
    .filter_holder_map {
		left: 50%;
		margin-left: 331px;
		padding: 4px 5px 5px 5px;
		margin-top: 10px;
    }
	.result_map .he_details {
		width: 345px;
	}
	#he_logo_map {
		width: 90px;
		height: 55px;
	}
		
	#suggestpop_map {
		width: 350px;
	}
	.map_sugg {
		width: 290px;
	}
	.checkoutTop_map{
		margin: -34px 0px 0px 0px;
	}
}


@media all and (max-width: 767px) {
	.search_top_panel_map {
		height: 75px;
	}
	.insurance_only_check_map {
		margin-top: -15px;
		width: 160px;
	}
		
	#suggestpop_map {
	}
	.map_sugg {
	}
}