/* additional css rules for medsquare app main page*/

.search_top_panel {
	margin: 0px 0px 5px 0px;
	background: #2c3e50;
	padding: 4px 5px 3px;
}
.search {
    max-width: 320px;
    min-height: 33px;
}
.searchoptions {
    margin-top: -33px;
    margin-left: 320px;
    width: 35px;
    background: #ecf0f1;
    border: 0;
    border-radius: 0;
    padding: 6px 0 2px;
    min-height: 33px;
    max-height: 33px;
}
.insurance_only_checkbox {
    max-width: 14px;
    min-height: 14px;
    margin-top: 15px;
    margin-left: 7px;
}
.insurance_only_check {
    color: #fff;
    font-size: 12px;
    margin-top: -23px;
    margin-bottom: 8px;
    margin-left: 37px;
}
.closetome {
    margin-top: -37px;
    margin-right: 44px;
    border: 0;
    background: transparent url(../images/heart.png) no-repeat center;
    background-position: center 2px;
    font-size: 11px;
    color: #fff;
    width: 70px;
    padding: 25px 0px 0px;
    float: right;
}
.closesearch {
    border: 0;
    border-radius: 0;
    width: 35px;
    padding: 4px 0 2px;
    min-height: 33px;
    float: right;
    margin-top: -38px;
    font-size: 21px;
}

.searchresults {
    margin: 0px 0px;
    margin-bottom: 70px;
    float: left;
    width: 100%;
    height: 100%;
}
.result {
	float: left;
	width:100%;
	padding: 8px 8px;
	background:url(../images/odd_right.png) no-repeat;
	background-position: 95% center;
	background-size: 12px;
}
#he_logo {
	float: left;
	width: 80px;
	height: 47px;
}
.he_details {
    float:left;
    margin-left:10px;
    width: 308px;
}
.he_head {
    float:left;
    text-decoration: underline;
    font-size: 14px;
    color: #2c3e50;
    width: 100%;
    font-weight: bold;
}
.he_info {
    float:left;
    color: #2c3e50;
    font-size: 12px;
    margin-top: 3px;
    line-height: 20px;
}


.search_filter {
    float: right;
    background: #cad0d1 url(../images/show_filter.png) no-repeat center !important;
    background-size: 21px !important;
    border-radius: 0;
    border: 0;
    width: 33px;
    height: 33px;
}
.filter_holder {
    background: #2c3e50;
    padding: 4px;
    width: 41px;
    position: absolute;
    right: 1px;
    z-index: 1;
    top: 0px;
}

.filter_menu {
    width: 232px;
    position: absolute;
    right: -232px;
    top: 68px;
    z-index: 1;
}
.filter_manu_button {
    float: left;
    width: 100%;
    border-radius: 0;
    font-size: 14px;
}

.even  {
	background:#ecf0f1 url(../images/even_right.png) no-repeat;
	background-position: 95% center;
	background-size: 12px;
}

.he_distTime {
    background: url(../images/loc_small.png) no-repeat left;
    padding-left: 14px;
    margin-left: 5px;
    background-size: 10px;
    white-space: nowrap;
}
.he_details_main .he_distTime {
    text-decoration:underline;
}
.even .he_distTime {
    background: url(../images/loc_small2.png) no-repeat left;
    background-size: 10px;
}
.result_map .he_distTime {
    background: url(../images/loc_small2.png) no-repeat left;
    background-size: 12px;
}

.he_stars {
    float: left;
    clear: both;
    margin-top: 5px;
    margin-right: 15px;
}
.staractive.star{
    float: left;
	background:url(../images/star_active.png) no-repeat center;
	
    background-size: 10px;
    width:10px;
	height:11px;
}
.star {
    float: left;
	background:url(../images/star.png) no-repeat center;
	background-size: 10px;
    width:10px;
	height:11px;
    margin-right: 3px;
}
.he_evals {
    float: left;
    font-size: 12px;
    margin-top: 3px;
}
.he_queueTime {
    float: left;
    clear: both;
    background: url(../images/clock_small.png) no-repeat left;
    padding-left: 22px;
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    margin-top: 5px;
    margin-right: 20px;
}
.he_dateTime {
    float: left;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 20px;
}
.he_onlineCount {
    float: left;
    font-size: 12px;
    margin-top: 6px;
    height: 20px;
    padding-top: 2px;
    font-weight: bold;
}

#online1 {
    float: left;
    width: 15px;
    margin-right: 5px;
}
#online3 {
    float: left;
    width: 23px;
    margin-right: 5px;
}
#online5 {
    float: left;
    width: 30px;
    margin-right: 5px;
}
.he_onlineCountText {
    float: left;
    margin-top: 1px;
}

.checkoutTop_he {
	float: right;
	margin: -28px 0px 0px 0px;
	width: 34px;
	border: 0;
	border-radius: 0;
	background-color: #192633 !important;
	background-image: url(../images/checkout_green.png) !important;
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: center;
}

@media all and (max-width: 315px) {
    
    #he_logo {
        width: 45px;
        height: 35px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 160px;
	}
	.searchoptions {
		margin-left: 160px;
	
	}
	.insurance_only_checkbox {
		margin-top: 15px;
		margin-left: 0px;
	}
	.insurance_only_check {
		margin-left: 18px;
		margin-top: -20px;
		width: 90px;
		margin-bottom: 4px;
	}
	.closesearch {
		margin-top: -36px;
		font-size: 21px;
	}
	
	.searchresults {
        margin: 0px 0px;
    }
    .result {
    }
    .he_details {
        width: 148px;
    }
	.filter_holder {
		right: 0px;
	}
	
	.he_head {
		font-size: 11px;
	
		height: 32px;
}
	.he_info {
		font-size: 10px;
		line-height: 13px;
	
		margin-left: -55px;
}
	.he_stars {
		margin-left: -54px;
	}
	.he_queueTime {
		margin-left: -54px;
		font-size: 10px;
		padding-left: 16px;
		background-size: 13px;
		line-height: 16px;
	}
	.he_dateTime {
		margin-left: -10px;
		font-size: 10px;
		line-height: 19px;
	}
	.he_onlineCount {
		margin-left: 104px;
		margin-top: -30px;
		font-size: 10px;
	}
	#online1 {
    margin-left: 10px;
		
	}
	.he_evals {
		font-size:10px
	}
	.checkoutTop_he {
		margin: -28px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 315px) and (max-width: 355px) {
    
    #he_logo {
        width: 55px;
        height: 40px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 240px;
	}
	.searchoptions {
		margin-left: 240px;
	}
	.insurance_only_checkbox {
		margin-left: 2px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 0px;
		margin-left: 21px;
		width: 150px;
    }
	.closesearch {
		float: right;
		margin-top: -26px;
		margin-bottom: 2px;
	}
	
	.searchresults {
    }
    .result {
    }
    .he_details {
        width: 238px;
    }
	
	.filter_holder {
	}
	.he_head {
		font-size: 11px;
	}
	.he_info {
    	font-size: 11px;
	}
	.he_distTime {
		position: absolute;
		margin-left: -54px;
		margin-top: 2px;
	}
	.he_stars {
		margin-left: 50px;
	}
	.he_queueTime {
		margin-left: -54px;
		font-size: 10px;
		padding-left: 18px;
		background-size: 14px;
		line-height: 17px;
	}
	.he_dateTime {
		margin-left: -10px;
		font-size: 10px;
		line-height: 17px;
	}
	.he_onlineCount {
		margin-left: 95px;
		margin-top: -17px;
		font-size: 11px;
		line-height: 16px;
	}
	#online5 {
		width: 22px;
	}
	#online1 {
	}
	#online3 {
		width: 22px;
	}
	.he_evals {
		font-size: 11px;
	}
	.checkoutTop_he {
		margin: -24px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 355px) and (max-width: 395px) {
    
    #he_logo {
        width: 60px;
        height: 40px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 280px;
	}
	.searchoptions {
		margin-left: 280px;
	}
	.insurance_only_checkbox {
		margin-left: 7px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 7px;
		margin-left: 27px;
	}
	.closesearch {
		float: right;
		margin-top: -33px;
		margin-bottom: 2px;
	}
	
	.searchresults {
    }
    .result {
    }
    .he_details {
        width: 272px;
    }
	.filter_holder {
	}
	.he_head {
    font-size: 12px;
	}
	.he_info {
    font-size: 11px;
	}
	.he_stars {
		margin-left: 65px;
	}
	.he_queueTime {
		margin-left: -54px;
		padding-left: 18px;
		font-size: 11px;
		line-height: 16px;
		background-size: 15px;
	}
	.he_dateTime {
		font-size: 11px;
		line-height: 16px;
	}
	.he_onlineCount {
		margin-left: 36px;
		margin-top: 5px;
		font-size: 11px;
		line-height: 16px;
	}
	#online5 {
		width: 24px;
	}
	#online1 {
	}
	#online3 {
		width: 22px;
	}
	.he_evals {
		font-size: 11px;
	}
	.he_distTime {
		position: absolute;
		margin-left: -54px;
		margin-top: 2px;
	}
	.checkoutTop_he {
		margin: -31px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 395px) and (max-width: 475px) {
    
    #he_logo {
        width: 65px;
        height: 42px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 320px;
	}
	.searchoptions {
		margin-left: 320px;
	}
	.insurance_only_checkbox {
		margin-left: 7px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 4px;
		margin-left: 26px;
    }
	.closesearch {
		float: right;
		margin-top: -30px;
		margin-bottom: 2px;
	}
    .result {
		background-position: 96% center;
	}
    .he_details {
        width: 308px;
    }
	.filter_holder {
	}
	.he_head {
    font-size: 13px;
	}
	.he_info {
	}
	.he_stars {
		margin-left: 72px;
	
		margin-right: 20px;
}
	.he_queueTime {
		margin-left: -54px;
		font-size: 11px;
		padding-left: 22px;
	}
	.he_dateTime {
	}
	.he_onlineCount {
    line-height: 13px;
	
    margin-left: 38px;
}
	#online5 {
		width: 24px;
	}
	#online1 {
	}
	#online3 {
		width: 22px;
	}
	.he_evals {
		font-size: 11px;
	}
	.he_distTime {
		position: absolute;
		margin-left: -54px;
		margin-top: 2px;
	}
	.checkoutTop_he {
		margin: -28px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 475px) and (max-width: 635px) {
    
    #he_logo {
        width: 70px;
        height: 42px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 400px;
	}
	.searchoptions {
		margin-left: 400px;
	}
	.insurance_only_checkbox {
		margin-left: 7px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 9px;
		margin-left: 26px;
	}
	.closesearch {
		float: right;
		margin-top: -35px;
	}
	
	.searchresults {
    }
    .result {
    background-position: 96% center;
    }
    .he_details {
        width: 383px;
    }
	.checkoutTop_he {
		margin: -33px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 635px) and (max-width: 715px) {
    
    #he_logo {
        width: 105px;
        height: 62px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 560px;
	}
	.searchoptions {
		margin-left: 560px;
	}
	.insurance_only_checkbox {
		margin-left: 7px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 12px;
		margin-left: 26px;
	}
	.closesearch {
		float: right;
		margin-top: -36px;
	}
	
	.searchresults {
    }
    .result {
    }
    .he_details {
        width: 508px;
    }
	.checkoutTop_he {
		margin: -36px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 715px) and (max-width: 767px) {
    
    #he_logo {
        width: 130px;
        height: 80px;
    }
	.search_top_panel {
	}
	.search {
		max-width: 640px;
	}
	.searchoptions {
		margin-left: 640px;
	}
	.insurance_only_checkbox {
		margin-left: 7px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 12px;
		margin-left: 26px;
	}
	.closesearch {
		float: right;
		margin-top: -36px;
	}
	
	.searchresults {
    }
    .result {
    }
    .he_details {
        width: 498px;
    }
	.filter_holder {
	}
	.checkoutTop_he {
		margin: -36px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (min-width: 768px) {
    
    #he_logo {
        width: 130px;
        height: 75px;
    }
	.search_top_panel {
		margin: 10px 0px 20px 0px;
		width: 700px;
		left: 50%;
		margin-left: -374px;
		padding: 5px 5px 5px;
	}
	.search {
		max-width: 326px;
	
	}
	.searchoptions {
		margin-top: -33px;
		margin-left: 325px;
	}
	.insurance_only_checkbox {
		margin-left: 370px;
		margin-top: -23px;
	}
	.insurance_only_check {
		margin-top: -14px;
		margin-bottom: 8px;
		margin-left: 390px;
	}
	.closesearch {
		float: right;
		margin-top: -36px;
	}
	
	.searchresults {
		max-width: 100%;
		margin-right: 10px;
		position: relative;
	}
    .result {
		width: 748px;
    
		left: 50%;
		position: relative;
		margin-left: -374px;
}
    .he_details {
        width: 552px;
    }
	.filter_holder {
		left: 50%;
		margin-left: 331px;
		padding: 5px;
		width: 43px;
		margin-top: 10px;
    }
	.checkoutTop_he {
		margin: -33px 0px 0px 0px;
		width: 34px;
	}
}

@media all and (max-width: 767px) {
	.search_top_panel {
		height: 80px;
	}
	.insurance_only_check {
		margin-top: -15px;
		width: 160px;
	}
}
 
.searchresults .x-list-item-last {
	margin-bottom:70px;
}
.friendsMessageList  .x-list-item-last {
	margin-bottom:70px;
}